<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Review Site</title>
    <link th:href="@{/css/home-style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo">
            <h1>Movie Review Site</h1>
        </div>
        <nav>
            <ul class="menu-right">
                <li><a href="#">홈</a></li>
                <li><a href="/mypage">마이페이지</a></li>
                <li><a href="/location">위치 테스트</a></li>
                <li><a href="/logout" class="logout-button">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <h2>Movie Reviews</h2>
    <!-- 리뷰 작성 버튼 추가 -->
    <ul class="nav">
        <li><a href="/reviews" class="review-button">Write a Review</a></li>
    </ul>

    <!-- 리뷰 작성 버튼 추가 -->
    <div class="reviews">
        <div th:each="review : ${reviews}" class="review-card">
            <div class="review-header">
                <img th:src="@{'https://image.tmdb.org/t/p/original/' + ${review.movie.poster}}" alt="Movie Poster" class="poster">
                <div>
                    <div class="review-title">
                        <h3 th:text="${review.movie.title}"></h3>
                        <p th:text="${review.movie.releaseDate}"></p>
                    </div>
                    <p th:text="'영화 리뷰 : ' + ${review.movieReview}" class="review-body"></p>
                    <div class="rating">
                        <p>총점 <span th:text="${review.rating}">0</span>/5</p>
                    </div>
                </div>
            </div>
            <div class="review-separator"></div>
            <div class="review-body">
                <h3 th:text="'영화관: ' + ${review.cinema.brand} + '-' + ${review.cinema.region} + '-' + ${review.cinema.name}" class="review-body"></h3>
                <p th:text="'영화관 리뷰 : ' + ${review.cinemaReview}" class="review-body"></p>

            </div>
            <div class="review-separator"></div>
            <div>
                <h3 th:text="'작성자: ' + ${review.user.nickname}"></h3>
            </div>
        </div>
    </div>
</main>

<footer>
    <p>© 2024 Movie Review Site</p>
</footer>
</body>
</html>
