<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Details</title>
    <link th:href="@{/css/movie-detail-style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo">
            <h1>Movie Review Site</h1>
        </div>
        <nav>
            <ul class="menu-right">
                <li><a href="/home">Home</a></li>
                <li><a href="/mypage">My Page</a></li>
                <li><a href="/location">Cinema</a></li>
                <li><a href="/reviews" class="review-button">Write a Review</a></li>
                <li><a href="/logout" class="logout-button">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="movie-details">
        <img th:src="@{'https://image.tmdb.org/t/p/original/' + ${movie.getPoster_path()}}" alt="Movie Poster"
             class="movie-poster">
        <div class="movie-info">
            <h2 th:text="${movie.getTitle()}"></h2>
            <p><strong>개봉일:</strong> <span th:text="${movie.getRelease_date()}"></span></p>
            <p><strong>상세 설명:</strong> <span th:text="${movie.getOverview()}"></span></p>
            <p><strong>런타임:</strong> <span th:text="${movie.getRuntime()}"></span> 분</p>
            <a th:href="@{/review(movieId=${movie.getMovie_id()})}" class="write-review-button">Write a Review</a>
        </div>
    </section>

    <section class="reviews">
        <h2>User Reviews</h2>
        <div class="review-list" th:each="review : ${reviews}">
            <div class="review-item">
                <p><strong>Reviewer:</strong> <span th:text="${review.user.nickname}"></span></p>
                <p><strong>Rating:</strong> <span th:text="${review.rating}"></span>/5</p>
                <p><strong>Review:</strong> <span th:text="${review.movieReview}"></span></p>
            </div>
        </div>
    </section>
</main>
</body>
</html>
