<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page - Movie Review Site</title>
    <link th:href="@{/css/myPage-style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo">
            <h1>RecoMovie-</h1>
        </div>
        <nav>
            <ul class="menu-right">
                <li><a href="/home">홈</a></li>
                <li><a href="/mypage">마이페이지</a></li>
                <li><a href="/logout" class="logout-button">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="profile-settings">
        <h2>프로필</h2>
        <div class="profile-card">
            <div class="profile-info">
                <img th:src="${user?.profileImageUrl ?: '/images/default-profile.png'}" alt="Profile Image" class="profile-img"/>
                <div class="profile-details">
                    <p class="username">이름: <span th:text="${user.name}"></span></p>
                    <p class="email">Email: <span th:text="${user.email}"></span></p>
                    <button class="profile-btn">Change Profile</button>
                </div>
            </div>
        </div>
    </section>

    <section class="reviews">
        <h2>내 리뷰</h2>
        <div class="review-list" th:each="review : ${myReviews}">
            <div class="review-item">
                <div class="review-header">
                    <p><strong>영화관:</strong> <span th:text="${review.cinema.name}"></span> | <strong>작성 날짜:</strong> <span th:text="${#temporals.format(review.createdAt, 'yyyy-MM-dd')}"></span></p>
                </div>
                <div>
                    <p>영화관 리뷰: <span th:text="${review.cinemaReview}"></span></p>
                </div>
                <img th:src="@{'https://image.tmdb.org/t/p/original/' + ${review.movie.poster}}" alt="Movie Poster" class="poster">
                <div class="review-title">
                    <h3 th:text="${review.movie.title}"></h3>
                    <p th:text="${review.movie.releaseDate}"></p>
                </div>
                <p th:text="'영화 리뷰 : ' + ${review.movieReview}" class="review-body"></p>
                <div class="rating">
                    <p>총점 <span th:text="${review.rating}">0</span>/5</p>
                </div>
            </div>
        </div>
    </section>

</main>

<footer>
    <p>© 2024 Movie Review Site</p>
</footer>
</body>
</html>