<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Register</h1>
<form th:action="@{/addUser}" method="post">
    <div>
        <label for="loginId">Login ID:</label>
        <input type="text" id="loginId" name="loginId" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <button type="submit">Register</button>
</form>

<div th:if="${param.error}">
    <p style="color: red;">User already exists or registration failed. Please try again.</p>
</div>

<a href="/login">Already have an account? Login here.</a>
</body>
</html>
